@font-face {
  font-family: "VCR OSD";
  src: url("./vcr_osd.ttf");
}

body {
  margin: 0;
  font-family: "VCR OSD", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
